
<div class="container__small-card">

  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img
        src="https://images.impresa.pt/sicnot/2022-06-27-oceano-plastico/original"
        alt=""
        height="200px"
        width="300px"
        srcset=""
      >
    </div>

    <div class="small-card__title">
      <h1><a href="https://sicnoticias.pt/especiais/oceanos/2022-06-27-Plastico-e-o-maior-poluente-dos-oceanos-582592a8">Plastic waste is increasingly polluting the seas</a></h1>
    </div>
  </div>

  <div class="container__small-card__separator">
    <hr>
  </div>

</div>
